# API KEY PARA O GEMINI AI
# Obtenha sua chave em https://aistudio.google.com/app/apikey (Opcional se não for usar a IA)
GEMINI_API_KEY=

# URL DA APLICAÇÃO (Opcional em desenvolvimento)
APP_URL=http://localhost:3000

# CONFIGURAÇÕES DO SUPABASE
# Obtenha estas informações nas configurações do seu projeto Supabase (Settings > API)
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=
